/Backend/Homestay.Api/bin
/Backend/Homestay.Api/obj
/Backend/Homestay.Application/bin
/Backend/Homestay.Application/obj
/Backend/Homestay.Domain/bin
/Backend/Homestay.Domain/obj
/Backend/Homestay.Ifrastructure/bin
/Backend/Homestay.Ifrastructure/obj
/Backend/.vs
